.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 30px;
}
.price{
    color: #FF136F;
}
.buy-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    text-align: center;
}
.container{
    margin-bottom: 60px;
}
.cat1{
    background-image: linear-gradient(45deg,orange,yellow);
}
.cat2{
    background-image: linear-gradient(45deg,#f31970,#FF589B);
}
.cat3{
    background-image: linear-gradient(45deg,blue,#a1a1f5);
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories img{
    width: 135px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px rgb(0, 12, 16);
}
.card-footer{
    background-color: #a1a1f5;
    border-top: none;
    text-align: center;
}
#subscribe{
    height: 300px;
}
#change{
    height: 400px;
    padding: 25px;
}